@use "shared" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  font-family: $font-secondary;
  color: $black;
  background-color: $white;
  line-height: 1.5;
}

h1 {
  font-size: 4.8rem;
  font-family: $font-secondary;
}

p {
  margin-bottom: $spacing-lg;
  line-height: 3.1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
}
